/* Загальні стилі */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Стилі для категорій книг */
.categories {
    padding: 50px 0;
}

.categories h2 {
    text-align: center;
    margin-bottom: 30px;
}

.category {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;

}

.category a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 10px; /* Додамо відступ між категоріями */
    width: 200px; /* Фіксований розмір кнопок */
    text-align: center; /* Вирівнюємо текст по центру */

}

.category a:hover {
    background-color: #333;
    color: #fff;
}


.categories .container {
    display: flex;
    flex-wrap: wrap; /* Дозволяємо елементам переноситись на новий рядок */
    justify-content: space-between; /* Рівномірно розподіляємо рядки по контейнеру */
}

.row {
    display: flex; /* Встановлюємо flexbox для рядка */
    width: 100%; /* Ширина рядка - 100% контейнера */
    margin-bottom: 10px; /* Додаємо відступ між рядками */
}

.category {
    width: 48%; /* Задаємо ширину кнопки (50% - враховує відступи) */
    margin-right: 10px; /* Відступ між кнопками у рядку */
}

.category:last-child {
    margin-right: 0; /* Відсутність відступу для останньої кнопки у рядку */
}

@media (max-width: 768px) {
    .category {
        width: 100%; /* На мобільних пристроях кнопки займатимуть всю ширину */
        margin-right: 0; /* Відсутність відступу між кнопками на малих екранах */
    }
}



/* БАНЕРИ */
.banner {
    width: 100%;
    height: auto; /* Змінили висоту */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
}

.banner img {
    width: 100%;
    max-height: 900px;
}

.banner:not(:first-child) {
    transform: translateX(100%);
}

.banner-carousel {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 60%;

}

.animated-banners {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.banner-container {
    max-width: 1600px;
    height: auto;
}

/* Стилі для розділу Акції */
.promotions h2 {
    text-align: center;
}

.promotions {
margin-bottom: 300px;

}