/* Загальні стилі */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Стилі для категорій книг */
.categories {
    padding: 50px 0;
}

.categories h2 {
    text-align: center;
    margin-bottom: 30px;
}

.category {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.category a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.category a:hover {
    background-color: #333;
    color: #fff;
}

/* БАНЕРИ */
.banner {
    width: 100%;
    height: auto; /* Змінили висоту */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
}

.banner img {
    width: 100%;
    max-height: 900px;
}

.banner:not(:first-child) {
    transform: translateX(100%);
}

.banner-carousel {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 60%;

}

.animated-banners {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.banner-container {
    max-width: 1600px;
    height: auto;
}

/* Стилі для розділу Акції */
.promotions h2 {
    text-align: center;
    margin-bottom: 30px;
}

