<div class="header-container" id="myHeader">
    <nav class="header-navigation">
        <div class="header-logo">
            <a href="/"><img th:src="@{/images/logo/logo.png}" alt="Логотип Магазину книг"></a>
        </div>

        <ul class="header-nav-links">
            <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/admin/books}">Книги</a></li>
            <li><a th:href="@{/admin/orders}">Замовлення</a></li>
            <li><a th:href="@{/admin/authors}">Автори</a></li>
        </ul>
    </nav>
</div>