<!-- Навігаційне меню -->
<div class="header-container" id="myHeader">
    <nav class="header-navigation">
        <div class="header-logo">
            <a href="/"><img th:src="@{/images/logo/logo.png}" alt="Логотип Магазину книг"></a>
        </div>

        <ul class="header-nav-links">
            <li><a href="/delivery">Доставка</a></li>
            <li><a href="/payment">Оплата</a></li>
            <li><a href="/help">Допомога</a></li>
            <li><a href="/contacts">Контакти</a></li>
            <li><a th:href="@{'/userCabinet/' + ${userId}}">Особистий кабінет</a></li>
        </ul>

        <!-- Поле пошуку, вихідне становище - приховане -->
        <div class="header-search-bar" id="header-searchBar">
            <form action="/search" method="get">
                <input type="text" name="searchTerm" placeholder="Пошук за назвою, автором, жанром">
                <button type="submit">Пошук</button>
            </form>
        </div>

        <div class="header-cart-button" onclick="location.href='/cart'">
            <i class="fas fa-shopping-cart"></i> <!-- Іконка кошика з Font Awesome -->
            <!-- Червоний кружок з кількістю товарів у кошику -->
            <div class="cart-quantity" id="cart-quantity">0</div>
        </div>

    </nav>
</div>
<script th:src="@{/js/script.js}"></script>
