<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин книг</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles_home.css}" />
</head>
<body>
<div th:insert="~{header.html}" ></div>



<!-- Банери або акційні пропозиції -->
<div class="banners">
    <!-- Додайте банери або акційні пропозиції за потребою -->
</div>
</body>
</html>
